---
layout: default
---

<div class="home">
  
  <h1 class="page-heading">Posts</h1>
  
  	{% for post in site.posts limit:1 %}
	<div class="newest-post">
		<div class="newest-post-col-1">
			<img src="{{ site.url }}{{post.relative-image-url}}" border=0 />
		</div>
		<div class="newest-post-col-2">
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        	<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        	<p>{{ post.description }}</p>
        </div>
    </div>
	{% endfor %}
    
  <ul class="post-list-general post-list-top-three">
    {% for post in site.posts offset:1 limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{post.description}}</p>
      </li>
    {% endfor %}
  </ul>
  
  <ul class="post-list-general post-list-older">
    {% for post in site.posts offset:4 %}
      <li>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</a></h2>
      </li>
    {% endfor %}
  </ul>

</div>
