<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
			<li class="contact-list-mail">
          		<a class="mail-link" href="mailto:{{ site.email }}">{{ site.email }}</a>
          	</li>
          	{% if site.github_username %}
          	<li class="contact-list-github">
            	<a href="https://github.com/{{ site.github_username }}">me on GitHub</a>
          	</li>
          	{% endif %}
          	{% if site.linkedin_username %}
          	<li class="contact-list-linkedin">
            	<a href="http://se.linkedin.com/in/{{ site.linkedin_username }}">me on LinkedIn</a>
          	</li>
          	{% endif %}
          	<li class="contact-list-rss">
				<a href="{{ "/feed.xml" | prepend: site.baseurl }}">Get updates via RSS</a>
			</li>
		</ul>
      </div>
      <div class="footer-col  footer-col-2"> 
      	<img src="{{ site.url }}/assets/avatar200.png" border=0 />
      </div>
    </div>
  </div>
</footer>
